body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .producto {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;

        }
        .carrito {
            border: 2px solid #000;
            padding: 10px;
            margin-top: 20px;
                    
        }
      .imagen img {
  width: 100px; 
  height: 200px; 

}
margin-bottom: 20px;
}
.formulario-pago{
    font-size: 100%;
}
